---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import PostsList from '../components/PostsList.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Banner>
			<div class="welcome-box">
				<span class="welcome-text">Welcome to Astro Blog</span>
			</div>
		</Banner>
		<Header />
		<main>
			<PostsList />
		</main>
		<Footer />
	</body>
</html>
<style lang="less">
.welcome-box {
  margin-top: 4.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.welcome-text {
  font-size: 4.5vw;
  font-weight: bold;
  color: var(--welcome-text-color);
  text-shadow: var(--welcome-text-shadow);
  text-align: center;
  margin-bottom: 5vw;
  user-select: none;
}
</style>
