---
import { Image } from 'astro:assets';
import navLogo from '../assets/theme/icon/navLogo.svg';
import HeaderLink from './HeaderLink.astro';

const menuList = [
  { name: 'Home', url: '/' },
  { name: 'About', url: '/about' }
];
---

<header class="container">
  <nav>
    <span class="logo">
      <a href="/">
        <Image src={navLogo} alt="Logo" />
      </a>
    </span>
    <span class="menu">
      <ul>
        {menuList.map((item) => (
          <li>
            <HeaderLink href={item.url}>{item.name}</HeaderLink>
          </li>
        ))}
      </ul>
    </span>
  </nav>
</header>

<style lang="less">
header {
  height: 75vh;
  position: relative;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 16px;
    border-radius: 0 0 32px 32px;
    border-bottom: solid 2px var(--foreground-color);
    border-left: solid 2px var(--foreground-color);
    border-right: solid 2px var(--foreground-color);
    background: linear-gradient(0.25turn, transparent, var(--foreground-color) 25%),
      var(--triangle-background);
    backdrop-filter: var(--blur-val);
    box-shadow: 0px 0px 8px rgb(var(--blue-shadow-color), 0.8);
  }

  .logo {
    img {
      height: 32px;
      width: auto;
      filter: drop-shadow(0 0 8px #328cfa);
    }
  }

  .menu {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0 16px;
        a {
          text-decoration: none;
          color: var(--font-color-grey);
          font-weight: bold;
          transition: color var(--transition-time);
          &.active {
            color: var(--color-blue);
          }
          &:hover {
            color: var(--color-blue);
          }
        }
      }
    }
  }
}
</style>
